.justthefacts-quote {
    font-weight: bold;
    color: #FF4242; /* red */
}

.justthefacts-date {
   font-weight: bold;
   color: #4AA12A; /* green */
}

.justthefacts-date .justthefacts-number {
   font-weight: bold;
   color: #4AA12A; /* green */
}

.justthefacts-name {
   font-weight: bold;
   color: #7A7AFF; /* blue */
}

.justthefacts-number {
   font-weight: bold;
   color: #B14AFF; /* purple */
}
