.justthefacts-quote {
    font-weight: bold !important;
    color: #FF4242 !important; /* red */
}

.justthefacts-date {
   font-weight: bold !important;
   color: #4AA12A !important; /* green */
}

.justthefacts-date .justthefacts-number {
   font-weight: bold !important;
   color: #4AA12A !important; /* green */
}

.justthefacts-name {
   font-weight: bold !important;
   color: #7A7AFF !important; /* blue */
}

.justthefacts-number {
   font-weight: bold !important;
   color: #B14AFF !important; /* purple */
}
